<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a Home Page</h1>
    <h3> <%= 1*2 %></h3>
    <h3> <%= "apnacollege".toUpperCase() %></h3>
    <h3><%= ["hello","hi"][0] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nemo eum, fugit inventore numquam quasi doloremque quis reiciendis est veniam omnis molestiae temporibus id, nam natus eveniet! Rem, porro magni!</p>
    <button>Click me</button>
</body>
</html>